Fluxo-Bussula-Pública.json
{
  "name": "Fluxo-Bussula-Pública",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -64
      ],
      "id": "8ea29ad3-0f43-4e44-b8d9-c2a537c15b9e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  tema,\n  COUNT(id) AS total\nFROM\n  proposicoes_com_tema\nWHERE \"dataApresentacao\"::date = CURRENT_DATE - INTERVAL '1 day'\nGROUP BY tema\nORDER BY total DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        -64
      ],
      "id": "e83245cb-58d4-4dab-83e9-99ef7d1f0190",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "rpX3T996OeU8wsu6",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "Fluxo Bússula Pública",
        "height": 256,
        "width": 944,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -144
      ],
      "typeVersion": 1,
      "id": "77c61aec-1d8b-456f-8172-4bad8de528fe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const itens = $input.all();\nconst data = new Date();\nconst dataFormatada = data.toLocaleDateString('pt-BR', { \n  day: '2-digit', month: '2-digit', year: 'numeric' \n});\n\nconst total = itens.reduce((acc, item) => acc + Number(item.json.total), 0);\n\nconst linhas = itens.map(item => `\n  <tr>\n    <td style=\"padding:10px 16px;color:#2C2C2A;font-size:14px;\">${item.json.tema}</td>\n    <td style=\"padding:10px 16px;text-align:center;font-weight:bold;color:#0F6E56;font-size:14px;\">${item.json.total}</td>\n    <td style=\"padding:10px 16px;\">\n      <div style=\"background:#E1F5EE;border-radius:4px;height:10px;width:100%;\">\n        <div style=\"background:#1D9E75;border-radius:4px;height:10px;width:${Math.round(item.json.total/total*100)}%;\"></div>\n      </div>\n    </td>\n  </tr>\n`).join('');\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#fff;\">\n  <div style=\"background:#0F6E56;padding:32px 24px;\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px;\">Bussola Pública</h1>\n    <p style=\"color:#9FE1CB;margin:6px 0 0;font-size:13px;\">Relatório Legislativo Diário — ${dataFormatada}</p>\n  </div>\n  <div style=\"padding:24px;\">\n    <p style=\"color:#5F5E5A;font-size:13px;margin:0 0 20px;\">\n      Total de proposições apresentadas ontem: <strong style=\"color:#0F6E56;\">${total}</strong>\n    </p>\n    <table style=\"width:100%;border-collapse:collapse;background:#F1EFE8;border-radius:8px;\">\n      <thead>\n        <tr style=\"background:#2C2C2A;\">\n          <th style=\"padding:10px 16px;text-align:left;color:#fff;font-size:12px;\">TEMA</th>\n          <th style=\"padding:10px 16px;text-align:center;color:#fff;font-size:12px;\">TOTAL</th>\n          <th style=\"padding:10px 16px;text-align:left;color:#fff;font-size:12px;\">DISTRIBUIÇÃO</th>\n        </tr>\n      </thead>\n      <tbody>${linhas}</tbody>\n    </table>\n    <p style=\"color:#B4B2A9;font-size:11px;margin:24px 0 0;text-align:center;\">\n      Gerado automaticamente pela Bussola Pública — ${dataFormatada}\n    </p>\n  </div>\n</div>`;\n\nreturn [{ json: { html, total, data: dataFormatada } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -64
      ],
      "id": "cecc4663-886b-4696-abbb-0f88dd134e1b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "cesar.ramosjr90@gmail.com",
        "subject": "=Bussola Pública — Relatório Legislativo {{ $json.data }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        144,
        -64
      ],
      "id": "3b50c041-afa1-4542-bb7d-d82aa3e950ef",
      "name": "Send a message",
      "webhookId": "cbbbe04f-e0ee-4212-acb7-a077d4a4158b",
      "credentials": {
        "gmailOAuth2": {
          "id": "sGhxbOVLmHb3OoiZ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6360763c-410b-4df0-9ecd-c102c6774f63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d8a233aaf836289ddc71ed4650b547a6076f634d5e38aff4063ee47de330942"
  },
  "id": "iv1yTiN833ZIq55w",
  "tags": []
}